---
import { FOOTER_DISCLOSURE } from "../../data/site";
---

<footer class="site-footer">
  <div class="wrap footer-inner">
    <small>health.tannerwj.com / field notes</small>
    <p>{FOOTER_DISCLOSURE}</p>
  </div>
</footer>
